 <button type="button" name="button" (click) = 'getInfoFromServiceClass1()'>ABOUT ME</button>
<ul class="list-group">
   <li *ngFor ="let info of inforecived1" class="list-group-item">{{info}}</li>
</ul>
<pre></pre>
<button type="button" name="button" (click) = 'getInfoFromServiceClass2()'>SCHOOL</button>
<ul class="list-group">
   <li *ngFor ="let info of inforecived2" class="list-group-item">{{info}}</li>
</ul>
<pre></pre>
<button type="button" name="button" (click) = 'getInfoFromServiceClass3()'>COLLEGE</button>
<ul class="list-group">
   <li *ngFor ="let info of inforecived3" class="list-group-item">{{info}}</li>
</ul>

